#mainNav {
  background-color: rgba(0, 0, 0, 0.8);
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-weight: 400;
  padding: 0.75em;
  letter-spacing: 1px;
  color: #fff;
  &.active,
  &:hover {
    color: var(--color-primary);
  }
}
#mainNav .navbar-toggler {
  border: 0;
}
