/*
  Stats Component
*/
#about-b {
  padding: 2rem;
}

.stats {
  color: #f4f4f4;
}
.stats h4 {
  padding: 0.75rem 0;
}

@media only screen and (max-width: 769px) {
  .stats {
    margin: 1rem;
  }
}

#about-b .container .stats .progress {
  max-width: 1100px;
  margin: 1rem auto;
  height: 20px;
  background: #f4f4f4;
  border-radius: 5px;
}
.stats-count {
  background: var(--color-primary);
}
.stats h4 {
  text-align: left !important;
}

.stats h3,
.stats h4 {
  color: #f4f4f4;
}
