.page-section {
  padding: 6rem 0;
}
.page-section h2.section-heading {
  font-size: 2.25rem;
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: "Gugi", sans-serif;
}
.page-section h3.section-subheading {
  padding: 0 5rem;
  font-size: 1.2rem;
  line-height: 1.4rem;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 4rem;
  text-transform: none;
}

@media (max-width: 768px) {
  section {
    padding: 150px 0;
  }
  .page-section h3.section-subheading {
    padding: 0 2rem;
  }
}

.Gugi {
  font-family: "Gugi", sans-serif;
}
