#mainNav .navbar-brand {
  font-family: "Pacifico", sans-serif !important;
}

.navbar > .container,
.navbar > .container-fluid {
  background-color: #212529;
}

#mainNav .navbar-nav .nav-item .nav-link:link {
  border-bottom: 2px solid transparent;
}
#mainNav .navbar-nav .nav-item .nav-link.active,
#mainNav .navbar-nav .nav-item .nav-link:hover {
  border-bottom: 2px solid #fed136;
  color: #f4f4f4 !important;
  transition: all 1s;
}

/* //new styles */
@media (min-width: 992px) {
  #mainNav {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    background-color: #212529 !important;
  }
}
.nav-bar {
  padding: 0 !important;
}
